<% 

  players = Player.all.sort_by(&:id)

-%>
<table>
  <thead>
    <tr>
      <% for player in players -%>
        <th><%= player.name %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% for round in @rounds -%>
      <tr>
        <% for player in players -%>
          <% if round.participants.include? player -%>
            <td<%= ' class="winner"' if round.winners.include? player %>><%= round.gesture_for(player) %></td>
          <% else -%>
            <td></td>
          <% end -%>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
